/*Definições para o corpo da página inteira*/
*  {
    margin: 0px;
    box-sizing: border-box;
}

    
/*COMEÇO DO CSS DA BARRA DE NAVEGAÇÃO*/
.navbar{
    width: 100%;
    height: 100px;
     background-image: linear-gradient(25deg, white, white, white, rgb(17, 186, 17),green);

    display: flex;
    position: fixed;
    top: 0; /*O "top" e "left" foi oque fez a navbar bar ficar fixada no body e não na div*/
    left: 0;
    z-index: 100px;
    
}

#nav
{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}


.links{
    
    height: 100px;
    width: 200px;
    
    position: relative;
    flex: 50%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
    padding-right: 45px;
   
    
}

.links a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
    padding: 3px 15px ;
    border-radius: 3px;
    

    
    
}

.links a:hover{
    border-radius: 4px;
    
    background-color: #4bd44b;

    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;

    transition: background 0.1s;
    transition: border 0.1s;
    
    

}

#Bot_Sobre{
    padding: 10px 30px ;
    font-size: 20px; 
    
}

#Bot_Sobre:hover{
    background-color: #4bd44b;

    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    
    transition: background 0.1s;
    transition: border 0.1s;
    
}


img{
    width: 100px;
    height: 70px;
    margin-top: 10px;
}

/*TERMINO DO CSS DA BARRA DE NAVEGAÇÃO*/

/*COMEÇO DO CSS DA PRIMEIRA PARTE DA COLETA MÓVEL*/

.Pag2{
    
    height: 600px;
    width: auto;
    background-color: white;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 20px;
        
}

#Titulo_Pag2{
    max-width: 100%; 
    border-bottom:3px solid green;
    height: 60px;

    background-image: linear-gradient(25deg, white, white,  green, green, green, white, white );
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    font-family:'Kanit', sans-serif ;
    font-size: 20px;

    color: whitesmoke;
    padding-left: 50px;
    border-top: 3px solid black;
    
}


#Escrita_Pag2{
    
    font-family:  'Kanit', sans-serif;
    
    border: 5px solid #4bd44b;
    border-radius: 10px;
    padding: 25px 60px;
    
}


#Img_Pag2{
    
    width: 400px;
    height: 424px;
    background-image: url(./img/furgao_ruim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*TERMINO DO CSS DA PRIMEIRA PARTE DA COLETA MÓVEL*/



/*COMEÇO DO CSS DA SEXTA PARTE DA COLETA MÓVEL (RODAPÉ 2 ) */

#Rodape2{
    max-width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family:  'Kanit', sans-serif;
    background-color: #299e29;
}


/*TERMINO DO CSS DA SEXTA PARTE DA COLETAMÓVEL (RODAPÉ 2) */