/*Definições para o corpo da página inteira*/
*  {
    margin: 0px;
    box-sizing: border-box;
}

/*COMEÇO DO CSS DA BARRA DE NAVEGAÇÃO*/
.navbar{
    width: 100%;
    height: 100px;
     background-image: linear-gradient(25deg, white, white, white, rgb(17, 186, 17),green);

    display: flex;
    position: fixed;
    top: 0; /*O "top" e "left" foi oque fez a navbar bar ficar fixada no body e não na div*/
    left: 0;
    z-index: 100px;
    
}

#nav
{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}


.links{
    
    height: 100px;
    width: 200px;
    
    position: relative;
    flex: 50%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
    padding-right: 45px;
   
    
}

.links a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
    padding: 3px 15px ;
    border-radius: 3px;
    

    
    
}

.links a:hover{
    border-radius: 4px;
    
    background-color: #4bd44b;

    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;

    transition: background 0.1s;
    transition: border 0.1s;
    
    

}

#Bot_Sobre{
    padding: 10px 30px ;
    font-size: 20px; 
    
}

#Bot_Sobre:hover{
    background-color: #4bd44b;

    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    
    transition: background 0.1s;
    transition: border 0.1s;
    
}


img{
    width: 100px;
    height: 70px;
    margin-top: 10px;
}

/*TERMNO DO CSS DA BARRA DE NAVEGAÇÃO*/

/*COMEÇO DO CSS DA PRIMEIRA PARTE DA PAGINA PRINCIPAL (EXAMES) */

#Pag3{
    max-width: 100%;
    height: 900px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Introducao{
    width: 950px;
    height: 150px;

    border: 5px solid #4bd44b;
    border-radius: 10px;
    
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    padding-left: 20px;

    font-size: 19px;
    font-family: 'Kanit', sans-serif ;

    
    text-indent: 20px;
}

#Titulo_Pag3{
    max-width: 100%; border-bottom:3px solid green;
    height: 60px;

    background-image: linear-gradient(25deg, white, white,  green, green, green, white, white );
    border-top: 3px solid black;

    align-items: center;
    justify-content: center;
    display: flex;
    

    padding-left: 50px;

    font-family:'Kanit', sans-serif ;
    font-size: 20px;
    color: whitesmoke;

    margin-top: 100px;
}

#Exames{
    width: 950px;
    height: 630px;

    border: 5px solid #4bd44b;
    border-radius: 10px;

    
}

.Titulo_exames{
    display: flex;
    align-items: center;
    justify-content: start;

    font-family: 'Kanit', sans-serif;
    font-size: 18px;

    padding-left: 40px;
    padding-top: 20px;
    height: 60px;
    max-width: 100%;
    
}

#exames{
    padding-top:10px ;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 80px;
}

.lista1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    font-size: 20px;
    font-family:  'Kanit', sans-serif ;

    width: 850px;
    height: 70px;
    border: 2px solid black;
}

.lista2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    font-size: 20px;
    font-family:  'Kanit', sans-serif ;

    width: 850px;
    height: 70px;
    border: 2px solid black;
}

.lista3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    font-size: 20px;
    font-family:  'Kanit', sans-serif ;

    width: 850px;
    height: 70px;
    border: 2px solid black;
}

.lista4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    font-size: 20px;
    font-family:  'Kanit', sans-serif ;

    width: 850px;
    height: 70px;
    border: 2px solid black;
}

.lista1 a:hover{
    border-bottom: 3px solid green;

    transition: border 0.1s;
}

.lista2 a:hover{
    border-bottom: 3px solid green;

    transition: border 0.1s;
}

.lista3 a:hover{
    border-bottom: 3px solid green;

    transition: border 0.1s;
}

.lista4 a:hover{
    border-bottom: 3px solid green;

    transition: border 0.1s;
}

/*TERMINO DO CSS DA PRIMEIRA PARTE DA PAGINA PRINCIPAL (EXAMES) */

/*COMEÇO DO CSS DA SEXTA PARTE DA PAGINA PRINCIPAL (RODAPÉ 2 ) */

#Rodape2{
    max-width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family:  'Kanit', sans-serif;
    background-color: #299e29;
}


/*TERMINO DO CSS DA SEXTA PARTE DA PAGINA PRINCIPAL (RODAPÉ 2) */